* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}

[class ^="box-"] {
    background-color: skyblue;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    gap: 20px;
    grid-template:100px 200px/ 200px 400px;
}