* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 30px;
}

[class ^="box-"] {
    display: grid;
    place-items: center;
    border: 3px solid blueviolet;
}

.container {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-areas: 
    "A A A A    A A A A    A A A A"
    "C C B B    B B B B    B B E E"
    "C C D D    D D D D    D D E E"
    "C C D D    D D D D    D D E E"
    "C C D D    D D D D    D D E E"
    "F F F F    F F F F    F F F F"

    ;
    
}

.box-1 {
    grid-area: A;
}

.box-2 {
    grid-area: B;
}

.box-3 {
    grid-area: C;
}

.box-4 {
    grid-area: D;
}

.box-5 {
    grid-area: E;
}

.box-6 {
    grid-area: F;
}